/* body{
    display: flex;
    align-items: center;
    justify-content: center;
}
.bulleye{
    background: repeating-radial-gradient(red,red 20%);
    height: 200px;
    width: 200px;
    border-radius: 100%;
    margin: 15px 0;
}
.water{
    background: repeating-radial-gradient(green,green 20%);
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin: 15px 0;
    padding:1opx;
}  */
/* .bulleye{
    background-color: red;
    width: 70%;
    height: 70%;

}
.water{
    background-color: green;
    width: 50%;
    height: 50%;
}
.walk{
    background-color: blue;
    width: 50%;
    height: 50%;
    
} */
/* .bullseye{
    width: 200px;
    height: 200px;
    border-radius:49%;
    height: 200px;
    width: 200px;
    top:100px;
    left: 100px;
    background-color: red;
    margin-top: -9px;
    margin-left: -7px;
    

}
.bullseye::before {
    content: '';
    position: absolute;
    top: 25px;
    left: 25px;
    width: 150px;
    height: 150px;
    background-color: blue;
    border-radius: 50%;
}
.bullseye::after{
    content: '';
    position: absolute;
    top: 50px;
    left: 50px;
    width: 100px;
    height: 100px;
    background-color: green;
    border-radius: 50%;

} */
.water{
    background: green;
    width: 100px;
    height: 100px;
    padding: 20px;
    border-radius: 100%;
}
.cry{
    background-color: red;
    height: 100%;
    padding: 20px;
    border-radius: 100%;
    box-sizing: border-box;
}
.mud{
    background-color: yellow;
    height: 100%;
    border-radius: 100%;
    box-sizing: border-box;
}
